.menuHorizontal{
    text-align: center;
    color: blueviolet;
}
.titulo{
    text-align: center;
    color: blue;
}
.tablaPrincipal{
    margin: auto;
    margin-top: 200px;
    color: rgb(98,97,97);
}